@model SubjectViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hier moet een lijst komen met alle Subjects waar je op kan klikken:</p>
    <div class="container mt-4">
        <div class="border p-4" style="border: 2px solid #ddd; border-radius: 4px;">
            <div class="row justify-content-center">
                @foreach (var subject in Model.subjectlist)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 text-center shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a asp-action="Subject" asp-route-id="@subject.SubjectID" class="text-decoration-none text-dark">
                                        @subject.Title
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>