@model SubjectViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hier moet een lijst komen met alle Subjects waar je op kan klikken:</p>
    <div>
        @foreach (var subject in Model.subjectlist) 
	        {
		        <article>
		            <p>@subject.Title</p>            
		        </article> 
	        }
    </div>   
    <div>Add Subject!</div>
    <div>
        <form asp-action="AddSubject" method="post">
            <input type="text" name="Title" placeholder="Title">
            <input type="text" name="Text" placeholder="Text">
            <input type="submit" class="btn btn-outline-dark" value="Create">
        </form>
    </div>
</div>

