@model SubjectViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hier moet een lijst komen met alle Subjects waar je op kan klikken:</p>
    <div>
        @foreach (var subject in Model.subjectlist) 
	        {
		        <article>
		            <p>@subject.Title</p>            
		        </article> 
	        }
    </div>      
</div>

