@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MythWiki</title>
    <link rel="stylesheet" href="~/css/register.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Register</h1>
        <div>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            <form asp-action="Register" method="post">
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" name="Username" id="Username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input type="password" name="Password" id="Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" id="Email" class="form-control" required>
                </div>
                <input type="submit" class="btn btn-outline-dark" value="Register">
            </form>
            <div class="login-link">
                <a class="btn btn-outline-primary" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
            </div>
        </div>
    </div>
</body>
</html>
